header {
  background: #4c74af;
  color: white;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

nav {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}
