<footer>
  <div class="footer-content">
    <a href="https://openlibrary.org/">
      <img src="https://pbs.twimg.com/profile_images/803722648198881280/5hV-C1mN_400x400.jpg" class="footer-logo"/>
      Open Library
    </a>
    <a href="https://www.facebook.com/OpenLibrary.org/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo"
           class="footer-logo"/>
      Facebook
    </a>
    <a href="https://www.instagram.com/openlibraryproject/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo"
           class="footer-logo"/>
      Instagram
    </a>
    <a href="https://x.com/openlibrary">
      <img
        src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?w=1380&t=st=1724555366~exp=1724555966~hmac=03ce3d3f9d5f9c89df66a013b9e91df166e050694ef75791be8570f5f7d2fd1a"
        alt="Twitter Logo" class="footer-logo"/>
      Twitter
    </a>
  </div>
</footer>
