<footer>
  <div class="footer-content">
    <a href="https://openlibrary.org/">
      <img src="https://pbs.twimg.com/profile_images/803722648198881280/5hV-C1mN_400x400.jpg" class="footer-logo"/>
      Open Library
    </a>
    <a href="https://www.facebook.com/OpenLibrary.org/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook"
           width="24" height="24"
           class="footer-logo"/>
      Facebook
    </a>
    <a href="https://www.instagram.com/openlibraryproject/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="24"
           height="24"
           class="footer-logo"/>
      Instagram
    </a>
    <a href="https://x.com/openlibrary">
      <img src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?w=1380&t=st=1724575328~exp=1724575928~hmac=9dadd3192f5ffc32ff24f33493bab7a351908c05a5c1f17125d3d6a0957ca8de"
           alt="X" width="24"
           height="24"
           class="footer-logo"/>
      Twitter
    </a>
  </div>
</footer>
