<div class="post-form">
  <mat-card [ngClass]="{ 'default-hidden': !isAddingPost }" class="form-card elevated-card">
    <form [formGroup]="postForm" (ngSubmit)="addElement()">
      <div class="inputs">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>User</mat-label>
          <input matInput type="text" formControlName="user" placeholder="Enter User"/>
          <mat-error *ngIf="postForm.get('user')?.hasError('required') && postForm.get('user')?.touched">
            User is required.
          </mat-error>
          <mat-error *ngIf="postForm.get('user')?.hasError('minlength') && postForm.get('user')?.touched">
            Minimum 2 characters required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Book</mat-label>
          <input matInput type="text" formControlName="book" placeholder="Enter Book Title"/>
          <mat-error *ngIf="postForm.get('book')?.hasError('required') && postForm.get('book')?.touched">
            Book is required.
          </mat-error>
          <mat-error *ngIf="postForm.get('book')?.hasError('minlength') && postForm.get('book')?.touched">
            Minimum 2 characters required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Book Description</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    formControlName="details"
                    placeholder="Enter book description">
          </textarea>
        </mat-form-field>
      </div>

      <div class="date-pickers">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Take Book From</mat-label>
          <input matInput [matDatepicker]="fromPicker" formControlName="fromPick" [min]="today" [max]="today" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
          <mat-error *ngIf="postForm.get('fromPick')?.hasError('required') && postForm.get('fromPick')?.touched">
            Start date is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Take Book To</mat-label>
          <input matInput [matDatepicker]="toPicker" formControlName="toPick" [min]="today" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
          <mat-error *ngIf="postForm.get('toPick')?.hasError('required') && postForm.get('toPick')?.touched">
            End date is required.
          </mat-error>
        </mat-form-field>
      </div>


      <button mat-flat-button color="accent" type="submit" [disabled]="postForm.invalid" class="submit-btn">
        Add Book
      </button>
    </form>
  </mat-card>
</div>

<div class="card-container">
  <mat-card *ngFor="let post of postsList" class="card elevated-card">
    <mat-card-header>
      <mat-card-title class="card-title">{{ post.book }}</mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        <span>User: {{ post.user }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="card-date">
        <p><span class="description-label">From:</span> {{ post.fromPick | date: 'shortDate' }}</p>
        <p><span class="description-label">To:</span> {{ post.toPick | date: 'shortDate' }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="primary" (click)="goToDetailsPage(post.id)">Details</button>
      <button mat-raised-button color="warn" (click)="remove(post.id)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>
